
h1#titulo{
    color: gray;
    text-decoration: underline wavy gray;
    text-align: center;
}

.container{
    background-color: whitesmoke;
    padding: 5vw 30vw;
    border-radius: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    background-color: whitesmoke;
    border: 1px solid rgb(170, 163, 163);
}